clipit
Code
devrantron
Dharkael
discord
dolphin-emu
dolphinrc
dunst
epdfview
gconf
GIMP
gzdoom
habitica
inkscape
Kalypso\ Media
knfsshare
Kvantum
libreoffice
mimeapps.list.bak
Monolith
mopidy
pulse
qupzilla
Slack
unity3d
user-dirs
user-dirs.locale
xarchiver
xfburn
xfce4